:root {
    --font1: 'Open Sans', sans-serif;
    --font2: 'Raleway', sans-serif;
    --color_black: black;
    --color_accent: #FF8B38;
    --color_gray: #CCCCCC;
    --color_white: white
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--font2);
}

* a {
    text-decoration: none;
    color: var(--color_white);
}

section {
    padding: 0 10%;
}

header {
    background-color: var(--color_black);
    color: var(--color_white);
}

header section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

header .logo {
    text-transform: uppercase;
    font-family: var(--font1);
    font-weight: 700;
    font-size: 250%;
    padding: 1vh 0;
}

header .logo span {
    font-weight: 400;
    font-size: 100%;
    color: var(--color_accent);
}

header nav ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style-type: none;
}

header nav ul a {
    color: var(--color_gray);
    display: block;
    transition: all 0.6s ease;
    text-align: center;
}


header nav ul a:hover {
    color: var(--color_accent);
    transform: scale(1.2, 1.2);
}

.site-name {
    border: 1px solid red;
    background: url(../image/strelki.jpg);
    background-size: cover;
}

.site-name h1,
.site-name h2 {
    text-transform: uppercase;
    color: var(--color_white);
}

.site-name p {
    color: var(--color_white);
    opacity: 0.7;
}

.site-name h3 {
    text-transform: capitalize;
}

.site-name section {
    border: 1px solid blue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2vh;
    align-items: center;
    padding: 10vh 10%;
}

.site-name section .title-name {
    display: grid;
    row-gap: 2vh;
}

.button a {
    border: 1px solid var(--color_white);
    padding: 10px 0;
    text-transform: capitalize;
}

.button a:hover {
    border-color: var(--color_accent);
    color: var(--color_accent);
}

span {
    color: #FF8B38;
}

.pricing {
    background-color: var(--color_gray);
    padding: 40px 10%;
    display: grid;
    grid-template-columns: ;
}

.items-pricing {
    width: 100%;
    display: grid;
    grid-template: 1fr/repeat(3, 1fr);
    justify-items: center;
}

.items-pricing ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    width: 70%;
    padding: 40px 0 0 0;
}

.items-pricing ul.active {
    padding: 0;
}

.items-pricing ul li {
    width: 100%;
    background-color: rgb(239, 239, 239);
    text-align: center;
    padding: 10px 0;
    border: 1px solid var(--color_gray)
}

.items-pricing ul li:nth-child(0) {
    background-color: black;
    color: var(--color_white);
    font-size: 120%;
    font-weight: bold;
    padding: 20px 0;
    border: 1px solid var(--color_gray);
}

.items-pricing ul li:nth-child(1) {
    background-color: black;
    color: var(--color_white);
    font-size: 120%;
    font-weight: bold;
    padding: 20px 0;
    border: 0;
}

.items-pricing ul li:nth-child(2) {
    background-color: black;
    color: var(--color_white);
    font-size: 200%;
    font-weight: bold;
    padding: 60px 0;
    border: 0;
    border-top: 1px solid white;
}

.items-pricing ul li:nth-child(3) {
    background-color: var(--color_accent);
    color: var(--color_accent);
    font-size: 20%;
    font-weight: bold;
    border: 0;
    padding: 0;

}

.items-pricing ul li:nth-child(3).active {
    font-size: 120%;
    padding: 10px 0;
    color: white;
}

.items-pricing ul li:nth-child(2) p:first-child {
    font-size: 150%;
}

.items-pricing ul li:nth-child(2) p:first-child span {
    font-size: 250%;
}

.items-pricing ul li:nth-child(2) p:last-child {
    font-size: 60%;
    font-weight: normal;
    font-style: italic;
    opacity: 0.7;
    text-transform: capitalize;
}

.custom-prewiew h1 {
    text-align: center;
    padding: 30px 0 30px 0;
}

.custom-prewiew p {
    text-align: center;
    padding: 30px 0 0 0;
}

.custom-human {
    width: 100%;
    display: grid;
    grid-template: 1fr/repeat(3, 1fr);
    justify-items: center;
}

.custom-human ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    width: 70%;
    padding: 40px 0 0 0;
}

.custom-human span {
    font-size: 120%;
    color: black;
}

.custom-human p {
    padding: 20px 0 0 150px;
}